<%- include('../layouts/header.ejs') %>


<% 

if (typeof message !== 'undefined') {

    %>
    <h3><% message %></h3>
    <%    
    
}

%>
 

<section class="">
  
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%); padding: 146px 91px !important;">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Admin Log in <br />
              <span class="text-primary">for your business</span>
            </h1>
           
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form action="" method="post">
               
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email"  name="email" id="form3Example3" class="form-control" required/>
                    
                  </div>
  
                
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input type="password" name="password"  id="form3Example4" class="form-control" required/>
                    
                  </div>


  
                  
  
             
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Log in
                  </button>
                  <% 
                    if(typeof snd !=='undefined'){
                        %>
                        <p style="color: red;"><%= snd %></p>
                        <%
                    }
                    %>
             
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </section>


<%- include('../layouts/footer.ejs') %>