<%- include('../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">H&M</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
         
          
        </ul>
        <form class="d-flex" role="search">
            <a class="btn btn-danger " href="/logout" role="button" >LogOut</a>
        </form>
      </div>
    </div>
  </nav>

  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/1828f156743285.59ba74349a62c.jpg" style="width: 100%;height: 590px;" class="img-fluid" alt="...">
 



<%- include('../layouts/footer.ejs') %>